:root {
    --color-background: #313338; /* overall background, 100% fine */
    --color-on-background: white; /* the text on all except the top */
    --color-background-hover: #F0B132; /* idk was originally #eee wtf is that ok so when u hover over a list level its the bg color thing */
    --color-on-background-hover: #2E3035; /* idk */
    --color-primary: #2B2D31; /* selected list level on left background thing AND the bar bg at the top */
    --color-on-primary: #ffffff; /* selected list level text, bar at top text */
    --color-error: #de0000; /* idk */
    --color-on-error: white; /* idk */
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #313338; /* overall background, 100% fine */
    --color-on-background: white; /* the text on all except the top */
    --color-background-hover: #F0B132; /* idk was originally #eee wtf is that ok so when u hover over a list level its the bg color thing */
    --color-on-background-hover: #2E3035; /* idk */
    --color-primary: #2B2D31; /* selected list level on left background thing AND the bar bg at the top */
    --color-on-primary: #ffffff; /* selected list level text, bar at top text */
    --color-error: #de0000; /* idk */
    --color-on-error: white; /* idk */
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
main {
    background-color: var(--color-background);
    color: var(--color-on-background);
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(
            16em,
            1fr
        );
    column-gap: 2rem;
}

header {
    display: flex;
    padding-inline: calc(25vw - 10rem);
    height: 4rem;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
@media screen and (min-width: 1366px) {
    header {
        display: grid;
        padding-inline: 0;
    }
}
header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
header .nav {
    flex: 1;
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;
}
main > div {
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
